@gap: 20px;
@full-width: 1000px;

@import url('https://git.typable.dev/std/less/normalize.less');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400');

html,
body {
	overflow: hidden;
}

canvas {
	letter-spacing: 0.6px;
}
